@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090b10;
  --foreground: #ffffff;
  --card: #0e0e20;
  --card-foreground: #ffffff;
  --primary: #1fffa3;
  --primary-foreground: #090b10;
  --secondary: #3bb5ff;
  --secondary-foreground: #ffffff;
  --muted: #4a4b5e;
  --muted-foreground: #919daf;
  --accent: #de91f2;
  --accent-foreground: #ffffff;
  --destructive: #ff3a33;
  --destructive-foreground: #ffffff;
  --border: #1a1c24;
  --input: #364155;
  --ring: #1fffa3;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;

}
body::-webkit-scrollbar{
  width: 2px;
}

.filter-green {
  filter: hue-rotate(85deg) saturate(1.5);
}

.filter-red {
  filter: hue-rotate(-15deg) saturate(1.5);
}
